<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mihaipascu.BetterTG.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swifttg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.gruiachiscop.BetterTG.telegram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tg</string>
			</array>
		</dict>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SwiftTG uses your location in the background to keep a live location share updated while you move.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SwiftTG uses your location to share it in a chat when you choose to.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INStartCallIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launchScreenBackground</string>
		<key>UIImageName</key>
		<string>launchScreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
